In [2]:
# Load the CSV file to inspect its contents and pick out the top 5 countries based on growth percentage
import pandas as pd
file_path_csv = '/workspaces/placement-training/Python/EDA/data/saudi_commodities.csv'

# Read the CSV file
df_filtered = pd.read_csv(file_path_csv)

df_filtered['%Growth'] = pd.to_numeric(df_filtered['%Growth'], errors='coerce')

# Step 1: Exclude rows with negative %Growth values
df_filtered = df_filtered[df_filtered['%Growth'] >= 0]

# Step 2: Calculate the mean of the '2022-2023' column
mean_2022_2023 = df_filtered['2022-2023'].mean()

# Step 3: Filter rows where '2022-2023' is greater than or equal to the mean
df_filtered = df_filtered[df_filtered['2022-2023'] >= mean_2022_2023]

# Step 4: Sort the remaining data by %Growth in descending order
df_sorted = df_filtered.sort_values(by='%Growth', ascending=False)

# Display the resulting dataframe
df_sorted.head()

,S.No.,HSCode,Commodity,2022-2023,2023-2024,%Growth
71,72,74,COPPER AND ARTICLES THEREOF.,222485.47,712761.64,220.36
70,71,73,ARTICLES OF IRON OR STEEL,237773.29,449511.63,89.05
80,81,84,"NUCLEAR REACTORS, BOILERS, MACHINERY AND MECHA...",462285.92,762374.40,64.91
83,84,87,VEHICLES OTHER THAN RAILWAY OR TRAMWAY ROLLING...,843552.84,1377843.52,63.34
0,1,2,MEAT AND EDIBLE MEAT OFFAL.,156249.54,227898.06,45.86